.infoBox {
    width: 200px;
    height: 100%;
    cursor: pointer;
}

.infoBox__cases {
    font-size: 1.5em;
    color: rgb(233, 39, 39);
}
.infoBox__total {
    color: rgb(145, 145, 145) !important;
    font-size: 0.8em !important;
    font-weight: 700 !important;
    margin-top: 5px !important;
}

.infoBox--selected {
    border-top: 10px rgb(96, 202, 35) solid;
}
.infoBox--red {
    border-color: rgb(223, 34, 34);
}


.infoBox__cases--greed {
    color: rgb(96, 202, 35);
}