* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(247, 247, 247);
  overflow-x: hidden;
}


.App {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}





.app__left {
  width: 50%;
  margin-right: 30px;
}
.app__right {
  width: 30%;
}



@media (max-width: 1200px) {
  .App {
    flex-direction: column;
  }
  .app__left {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
  .app__right {
    width: 90%;
    margin: auto;
  }
}