.table {
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
    color: rgb(71, 71, 71);
}

.table tr {
    display: flex;
    justify-content: space-between;
}
.table td {
    padding: 0.4em;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}